<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Esub - 购买字幕</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/buy.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">E-SUB</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <a class="navbar-text" href="/generate">生成字幕</a>
            <li></li>
            <a class="navbar-text" href="/member_center">历史记录</a>
            <li></li>
            <a class="navbar-text" href="/search">搜索字幕</a>
            <li></li>
            <a class="navbar-text" href="/buy">购买字幕</a>
            <li></li>
            <a class="navbar-text" href="/sale">出售字幕</a>
            <li></li>
            <a class="navbar-text" href="/MyShare">我的分享</a>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <img onclick="transtomember()" id="userimg" class="navbar-text account-item pic" src="img/user.png" />
            <a onclick="transtomember()" id="username" class="navbar-text account-item name">请登陆</a>
            <li></li>
            <a onclick="quitout()" class="navbar-text account-item exit" href="#">退出</a>
            <li></li>
            <a class="navbar-text" href="/index">返回首页</a>
            <li></li>
            <a class="navbar-text account-item vip">会员中心</a>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="tab">
        <div class="sub-tab super-tab selected" id="sub_super_vip" onclick="onSuperVipClick(this)">
            <img src="./img/svip_77e1a49.png" alt="">
            <span>超级会员</span>
        </div>
        <div class="sub-tab normal-tab" id="sub_normal_vip" onclick="onNormalVipClick(this)">
            <img src="./img/vip_1c3ae9d.png" alt="">
            <span>会员</span>
        </div>
    </div>
    <div class="op-container">
        <div class="account">
            <span>当前账号：</span>
            <span>呵呵</span>
        </div>
        <div class="time-choose">
            <span>开通时长：</span>
            <div class="choose-item" id="time_one_year" data-num="0" onclick="timeChooseClick(this)">
                <div class="time">1年</div>
                <div class="price" id="one_year_price">￥249</div>
                <span class="triangle-bottomright"></span>
            </div>
            <div class="choose-item" id="time_six_month" data-num="1" onclick="timeChooseClick(this)">
                <div class="time">6个月</div>
                <div class="price" id="six_month_price">￥149</div>
                <span class="normal"></span>
            </div>
            <div class="choose-item" id="time_one_month"  data-num="2" onclick="timeChooseClick(this)">
                <div class="time">1个月</div>
                <div class="price" id="one_month_price">￥29</div>
                <span class="normal"></span>
            </div>
        </div>
        <div class="pay-mathod">
            <span>支付方式：</span>
            <div class="choose-item" id="weixin-pay" data-num="0" onclick="onPayMethodChoose(this)" >
                <img src="./img/weixin-pay.jpg" alt="">
                <span class="triangle-bottomright"></span>
            </div>
            <div class="choose-item" id="ali-pay" data-num="1" onclick="onPayMethodChoose(this)">
                <img src="./img/ali-pay.jpeg" alt="">
                <span class="normal"></span>
            </div>
            <div class="choose-item" id="qq-pay" data-num="2" onclick="onPayMethodChoose(this)">
                <img src="./img/qq-pay.png" alt="">
                <span class="normal"></span>
            </div>
        </div>
        <div class="price-show">
            <span>应付金额：</span>
            <span class="price" id="money_need_pay">2220元</span>
            <img src="./img/ecode.jpg" alt="" class="pay-ecode" id="pay_qrcode">
        </div>
    </div>
</div>
<script src="javascripts/buy.js"></script>
<footer>
    © 2018 Esub - Made with ♥ for the people of the internet.
</footer>
</body>

</html>