<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Esub-请求错误404</title>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
</head>

<body>
<style>
    .container {
        width: 300px;
        text-align: center;
        margin: 0 auto;
        color: cornflowerblue;
    }
</style>
<div class="container" id="container">
    <img src="img/error.png" />
    <div>对不起，您请求的页面不存在</div>
</div>
<script>
    document.getElementById("container").style.marginTop = (window.innerHeight / 2 - 200) + "px";
    $(window).resize(function() {
        document.getElementById("container").style.marginTop = (window.innerHeight / 2 - 200) + "px";
    });
</script>
</body>

</html>