<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Esub 生成字幕</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/generate.css" />
  <script src="javascripts/jquery-3.3.1.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/index.js"></script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">E-SUB</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav">
        <a class="navbar-text" href="/generate">生成字幕</a>
        <li></li>
        <a class="navbar-text" href="/member_center">历史记录</a>
        <li></li>
        <a class="navbar-text" href="/search">搜索字幕</a>
        <li></li>
        <a class="navbar-text" href="/buy">购买字幕</a>
        <li></li>
        <a class="navbar-text" href="/sale">出售字幕</a>
        <li></li>
        <a class="navbar-text" href="/MyShare">我的分享</a>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <img onclick="transtomember()" id="userimg" class="navbar-text account-item pic" src="img/user.png" />
        <a onclick="transtomember()" id="username" class="navbar-text account-item name">请登陆</a>
        <li></li>
        <a onclick="quitout()" class="navbar-text account-item exit" href="#">退出</a>
        <li></li>
        <a class="navbar-text" href="/index">返回首页</a>
        <li></li>
        <a class="navbar-text account-item vip" href="/vip_center">会员中心</a>
      </ul>
    </div>
  </nav>

  <div class="product-title">Esub 字幕生成</div>

  <div class="sugesst"> 视频非原创？不想等待上传？
    <a href="/search">尝试搜索字幕</a>
  </div>
  <div class="op-container">
    <div class="op-top">
      <div>
        <label>视频截取：</label>
        <select id="begin-hour">
          <option value="-1">开始</option>
        </select>
        <label>时</label>
        <select id="begin-minute">
          <option value="-1">开始</option>
        </select>
        <label>分</label>
        <select id="begin-second">
          <option value="-1">开始</option>
        </select>
        <label>秒</label>
        <label>--</label>
        <select id="end-hour">
          <option value="-1">结束</option>
        </select>
        <label>时</label>
        <select id="end-minute">
          <option value="-1">结束</option>
        </select>
        <label>分</label>
        <select id="end-second">
          <option value="-1">结束</option>
        </select>
        <label>秒。</label>
      </div>
      <div class="hint">
        您可以选择其他软件去掉片头片尾，并在此设置
      </div>
    </div>
    <script>
      var addOption = function (id) {
        var sel = document.getElementById(id);
        for (var i = 0; i < 60; i++) {
          var e = document.createElement("option");
          e.value = i;
          e.innerText = (Array(2).join('0') + i).slice(-2);
          sel.appendChild(e);
        }
      }
      addOption("begin-hour");
      addOption("begin-minute");
      addOption("begin-second");

      addOption("end-hour");
      addOption("end-minute");
      addOption("end-second");
    </script>
    <div class="op-center" id="op-center">
      <img src="img/video.png" />
      <div id="file_select_desc">将视频拖放到这里</div>
      <div>
        <label for="filename" type="text" style="cursor:pointer;" id="to_change_select_file">选择视频</label>
        <input type="file" name="upload_file" id="filename" style="position:absolute;clip:rect(0 0 0 0); " onchange="checkfile()">
      </div>
    </div>
    <div class="op-bottom" id="op-bottom">
      <label>视频语言：</label>
      <select id="movie-language">
        <option value="简体中文">简体中文</option>
        <option value="English">English</option>
        <option value="日本語 (にほんご)">日本語 (にほんご)</option>
        <option value="한국어">한국어</option>
        <option value="fran?ais, langue fran?aise">fran?ais, langue fran?aise</option>
        <option value="русский">русский</option>
        <option value="繁體中文">繁體中文</option>
        <option value="Thai">Thai</option>
        <option value="Afaraf">Afaraf</option>
        <option value="Arabic">Arabic</option>
        <option value="az?rbaycan dili">az?rbaycan dili</option>
        <option value="беларуская мова">беларуская мова</option>
        <option value="български език">български език</option>
        <option value="Bengali">Bengali</option>
        <option value="bosanski jezik">bosanski jezik</option>
        <option value="català, valencià">català, valencià</option>
        <option value="нохчийн мотт">нохчийн мотт</option>
        <option value="Czech">Czech</option>
        <option value="Cymraeg">Cymraeg</option>
        <option value="dansk">dansk</option>
        <option value="Deutsch">Deutsch</option>
        <option value="ελληνικ?">ελληνικ?</option>
        <option value="Esperanto">Esperanto</option>
        <option value="Espa?ol">Espa?ol</option>
        <option value="eesti, eesti keel">eesti, eesti keel</option>
        <option value="euskara, euskera">euskara, euskera</option>
        <option value="Persian">Persian</option>
        <option value="suomi, suomen kieli">suomi, suomen kieli</option>
        <option value="Gaeilge">Gaeilge</option>
        <option value="Galego">Galego</option>
        <option value="Gujarati">Gujarati</option>
        <option value="Hausa">Hausa</option>
        <option value="Hindi">Hindi</option>
        <option value="Hmoob">Hmoob</option>
        <option value="hrvatski jezik">hrvatski jezik</option>
        <option value="Kreyòl ayisyen">Kreyòl ayisyen</option>
        <option value="magyar">magyar</option>
        <option value="Armenian">Armenian</option>
        <option value="Bahasa Indonesia">Bahasa Indonesia</option>
        <option value="Igbo">Igbo</option>
        <option value="íslenska">íslenska</option>
        <option value="Italiano">Italiano</option>
        <option value="Georgian">Georgian</option>
        <option value="?аза? т?л?">?аза? т?л?</option>
        <option value="Kannada">Kannada</option>
        <option value="latine, lingua latina">latine, lingua latina</option>
        <option value="Lao">Lao</option>
        <option value="lietuvi? kalba">lietuvi? kalba</option>
        <option value="Latvie?u Valoda">Latvie?u Valoda</option>
        <option value="fiteny malagasy">fiteny malagasy</option>
        <option value="te reo Māori">te reo Māori</option>
        <option value="македонски ?азик">македонски ?азик</option>
        <option value="Malayalam">Malayalam</option>
        <option value="Norsk">Norsk</option>
        <option value="chiChe?a, chinyanja">chiChe?a, chinyanja</option>
        <option value="Punjabi">Punjabi</option>
        <option value="j?zyk polski, Polszczyzna">j?zyk polski, Polszczyzna</option>
        <option value="Português">Português</option>
        <option value="Roman">Roman</option>
        <option value="Sinhala">Sinhala</option>
        <option value="Sloven?ina, Slovensky Jazyk">Sloven?ina, Slovensky Jazyk</option>
        <option value="Slovenski Jezik, Sloven??ina">Slovenski Jezik, Sloven??ina</option>
        <option value="Soomaaliga, af Soomaali">Soomaaliga, af Soomaali</option>
        <option value="Shqip">Shqip</option>
        <option value="српски ?език">српски ?език</option>
        <option value="Sesotho">Sesotho</option>
        <option value="Basa Sunda">Basa Sunda</option>
        <option value="Svenska">Svenska</option>
        <option value="Kiswahili">Kiswahili</option>
        <option value="Tamil">Tamil</option>
        <option value="Telugu">Telugu</option>
        <option value="то?ик?, to?ikī, Tajik">то?ик?, to?ikī, Tajik</option>
        <option value="Wikang Tagalog">Wikang Tagalog</option>
        <option value="Türk?e">Türk?e</option>
        <option value="Укра?нська">Укра?нська</option>
        <option value="Urdu">Urdu</option>
        <option value="O?zbek, ?збек, Uzbek">O?zbek, ?збек, Uzbek</option>
        <option value="Ti?ng Vi?t">Ti?ng Vi?t?</option>
        <option value="Yiddish">Yiddish</option>
        <option value="Yorùbá">Yorùbá</option>
        <option value="isiZulu">isiZulu</option>
      </select>
      <label>字幕语言：</label>
      <select id="result-language">
        <option value="简体中文">简体中文</option>
        <option value="English">English</option>
        <option value="日本語 (にほんご)">日本語 (にほんご)</option>
        <option value="한국어">한국어</option>
        <option value="fran?ais, langue fran?aise">fran?ais, langue fran?aise</option>
        <option value="русский">русский</option>
        <option value="繁體中文">繁體中文</option>
        <option value="Thai">Thai</option>
        <option value="Afaraf">Afaraf</option>
        <option value="Arabic">Arabic</option>
        <option value="az?rbaycan dili">az?rbaycan dili</option>
        <option value="беларуская мова">беларуская мова</option>
        <option value="български език">български език</option>
        <option value="Bengali">Bengali</option>
        <option value="bosanski jezik">bosanski jezik</option>
        <option value="català, valencià">català, valencià</option>
        <option value="нохчийн мотт">нохчийн мотт</option>
        <option value="Czech">Czech</option>
        <option value="Cymraeg">Cymraeg</option>
        <option value="dansk">dansk</option>
        <option value="Deutsch">Deutsch</option>
        <option value="ελληνικ?">ελληνικ?</option>
        <option value="Esperanto">Esperanto</option>
        <option value="Espa?ol">Espa?ol</option>
        <option value="eesti, eesti keel">eesti, eesti keel</option>
        <option value="euskara, euskera">euskara, euskera</option>
        <option value="Persian">Persian</option>
        <option value="suomi, suomen kieli">suomi, suomen kieli</option>
        <option value="Gaeilge">Gaeilge</option>
        <option value="Galego">Galego</option>
        <option value="Gujarati">Gujarati</option>
        <option value="Hausa">Hausa</option>
        <option value="Hindi">Hindi</option>
        <option value="Hmoob">Hmoob</option>
        <option value="hrvatski jezik">hrvatski jezik</option>
        <option value="Kreyòl ayisyen">Kreyòl ayisyen</option>
        <option value="magyar">magyar</option>
        <option value="Armenian">Armenian</option>
        <option value="Bahasa Indonesia">Bahasa Indonesia</option>
        <option value="Igbo">Igbo</option>
        <option value="íslenska">íslenska</option>
        <option value="Italiano">Italiano</option>
        <option value="Georgian">Georgian</option>
        <option value="?аза? т?л?">?аза? т?л?</option>
        <option value="Kannada">Kannada</option>
        <option value="latine, lingua latina">latine, lingua latina</option>
        <option value="Lao">Lao</option>
        <option value="lietuvi? kalba">lietuvi? kalba</option>
        <option value="Latvie?u Valoda">Latvie?u Valoda</option>
        <option value="fiteny malagasy">fiteny malagasy</option>
        <option value="te reo Māori">te reo Māori</option>
        <option value="македонски ?азик">македонски ?азик</option>
        <option value="Malayalam">Malayalam</option>
        <option value="Norsk">Norsk</option>
        <option value="chiChe?a, chinyanja">chiChe?a, chinyanja</option>
        <option value="Punjabi">Punjabi</option>
        <option value="j?zyk polski, Polszczyzna">j?zyk polski, Polszczyzna</option>
        <option value="Português">Português</option>
        <option value="Roman">Roman</option>
        <option value="Sinhala">Sinhala</option>
        <option value="Sloven?ina, Slovensky Jazyk">Sloven?ina, Slovensky Jazyk</option>
        <option value="Slovenski Jezik, Sloven??ina">Slovenski Jezik, Sloven??ina</option>
        <option value="Soomaaliga, af Soomaali">Soomaaliga, af Soomaali</option>
        <option value="Shqip">Shqip</option>
        <option value="српски ?език">српски ?език</option>
        <option value="Sesotho">Sesotho</option>
        <option value="Basa Sunda">Basa Sunda</option>
        <option value="Svenska">Svenska</option>
        <option value="Kiswahili">Kiswahili</option>
        <option value="Tamil">Tamil</option>
        <option value="Telugu">Telugu</option>
        <option value="то?ик?, to?ikī, Tajik">то?ик?, to?ikī, Tajik</option>
        <option value="Wikang Tagalog">Wikang Tagalog</option>
        <option value="Türk?e">Türk?e</option>
        <option value="Укра?нська">Укра?нська</option>
        <option value="Urdu">Urdu</option>
        <option value="O?zbek, ?збек, Uzbek">O?zbek, ?збек, Uzbek</option>
        <option value="Ti?ng Vi?t">Ti?ng Vi?t?</option>
        <option value="Yiddish">Yiddish</option>
        <option value="Yorùbá">Yorùbá</option>
        <option value="isiZulu">isiZulu</option>
      </select>
      <div id="upload" class="btn" onclick="upload_file()">开始上传</div>
    </div>

    <div class="doing-view" id="doing-view">

      <div class="uploading-view" id="uploading">
        <div class="upload-fore">
        </div>
        <div class="upload-back" id="upload-back">
        </div>
        <img src="img/上传.png" />
        <div class="uf1">正在上传</div>
        <div class="uf2" id="uf2">0%</div>
      </div>
      <div class="generating" id="generating">
        <img src="img/doing.gif" />
        <div>正在生成，请耐心等待</div>
      </div>

      <div class="uploaded-view" id="generated">
        <img src="img/video.png" />
        <div id="download-url" style="font-size: 20px; margin: 10px 0px; color: cornflowerblue; cursor: pointer;" onclick="get_filename()">点击下载</div>
        <div id="re-download" style="color: cornflowerblue ; cursor: pointer;" onclick="redoing()">
          <u>返回选择文件界面</u>
        </div>
        <script>
          var redoing = function () {
            var opCenter = document.getElementById("op-center");
            var opBottom = document.getElementById("op-bottom");
            var uploadView = document.getElementById("doing-view");
            var uploading = document.getElementById("uploading");
            var generating = document.getElementById("generating");
            var generated = document.getElementById("generated");

            opCenter.style.display = "block";
            opBottom.style.display = "block";

            uploadView.style.display = "none";
            uploading.style.display = "block";
            generating.style.display = "none"
            generated.style.display = "none";

            document.getElementById("file_select_desc").innerText = "将视频拖放到这里"
            // to_change_select_file
            document.getElementById("to_change_select_file").innerText = "选择视频"
            //将选择的值设为空，防止重复点击上传按钮上传

            
          }
        </script>
      </div>


    </div>
  </div>

  <div class="desc-container">
    <div class="desc-container-left">
      <img src="img/icon-security.png" />
      <div>文件保密</div>
      <p>字幕生成后，文件便会永久从网站的服务器删除。字幕记录您可以选择性删除。100%保障你的隐私。</p>
    </div>
    <div class="desc-container-center">
      <img src="img/icon-quality.png" />
      <div>质量保证</div>
      <p>我们能提供准确率高达95%的字幕生成，并使用谷歌翻译来确保翻译的准确性。</p>
    </div>
    <div class="desc-container-right">
      <img src="img/icon-cloud.png" />
      <div>无须安装</div>
      <p>生成字幕在云端进行，您不需要安装任何软件，不用担心中毒。</p>
    </div>
  </div>

  <footer>
    © 2018 Esub - Made with ♥ for the people of the internet.
  </footer>
</body>

</html>