<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Esub 生成字幕</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/generate.css" />
		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/generate.js" ></script>

	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">E-SUB</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
			</div>

			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul class="nav navbar-nav">
					<a class="navbar-text" href="#">生成字幕</a>
					<li></li>
					<a class="navbar-text">历史记录</a>
					<li></li>
					<a class="navbar-text" href="search.html">搜索字幕</a>
					<li></li>
					<a class="navbar-text">购买字幕</a>
					<li></li>
					<a class="navbar-text">出售字幕</a>
					<li></li>
					<a class="navbar-text">我的分享</a>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li></li>
					<img class="navbar-text account-item pic" src="img/user.png" />
					<li></li>
					<a class="navbar-text account-item name">呵呵</a>
					<li></li>
					<a class="navbar-text account-item exit" href="#">退出</a>
					<li></li>
					<a class="navbar-text" href="index.html">返回首页</a>
					<li></li>
					<a class="navbar-text account-item vip">会员中心</a>
				</ul>
			</div>
		</nav>

		<div class="product-title">Esub 字幕生成</div>

		<div class="sugesst"> 视屏非原创？不等待上传？
			<a href="search.html">尝试搜索字幕</a>
		</div>
		<div class="op-container">
			<div class="op-top">
				<div><label>视屏截取：</label>
					<select id="begin-hour">
						<option value="-1">开始</option>
					</select>
					<label>时</label>
					<select id="begin-minute">
						<option value="-1">开始</option>
					</select>
					<label>分</label>
					<select id="begin-second">
						<option value="-1">开始</option>
					</select>
					<label>秒</label>
					<label>--</label>
					<select id="end-hour">
						<option value="-1">结束</option>
					</select>
					<label>时</label>
					<select id="end-minute">
						<option value="-1">结束</option>
					</select>
					<label>分</label>
					<select id="end-second">
						<option value="-1">结束</option>
					</select>
					<label>秒。</label></div>
				<div class="hint">
					您可以选择其他软件去掉片头片尾，并在此设置
				</div>
			</div>
			<script>
				var addOption = function(id) {
					var sel = document.getElementById(id);
					for(var i = 0; i < 59; i++) {
						var e = document.createElement("option");
						e.value = i;
						e.innerText = (Array(2).join('0') + i).slice(-2);
						sel.appendChild(e);
					}
				}
				addOption("begin-hour");
				addOption("begin-minute");
				addOption("begin-second");

				addOption("end-hour");
				addOption("end-minute");
				addOption("end-second");
			</script>
			<div class="op-center" id="op-center">
				<img src="img/video.png" />
				<div>将视屏拖放到这里</div>
				<div>或点击
					<a>选择视屏</a>
				</div>
			</div>
			<div class="op-bottom" id="op-bottom">
				<label>视屏语言：</label>
				<select id="movie-language">
					<option value="1">中文</option>
					<option value="2">英文</option>
					<option value="3">日语</option>
					<option value="4">韩语</option>
					<option value="5">法语</option>
					<option value="6">俄语</option>
				</select>
				<label>字幕语言：</label>
				<select id="result-language">
					<option value="1">中文</option>
					<option value="2">英文</option>
					<option value="3">日语</option>
					<option value="4">韩语</option>
					<option value="5">法语</option>
					<option value="6">俄语</option>
				</select>
				<div class="btn" onclick="uploadBtn()">开始上传</div>
			</div>

			<div class="doing-view" id="doing-view">

				<div class="uploading-view" id="uploading">
					<div class="upload-fore">
					</div>
					<div class="upload-back" id="upload-back">
					</div>
					<img src="img/上传.png" />
					<div class="uf1">正在上传</div>
					<div class="uf2" id="uf2">0%</div>
				</div>
				<div class="generating" id="generating">
					<img src="img/doing.gif" />
					<div>正在生成，请耐心等待</div>
				</div>
				<div class="uploaded-view" id="generated">
					<img src="img/video.png" />
					<div>已完成字幕生成</div>
					<a href="#" id="download-url">点击下载</a>
				</div>
			</div>
		</div>

		<div class="desc-container">
			<div class="desc-container-left">
				<img src="img/icon-security.png" />
				<div>文件保密</div>
				<p>字幕生成后，文件便会永久从网站的服务器删除。字幕记录您可以选择性删除。100%保障你的隐私。</p>
			</div>
			<div class="desc-container-center">
				<img src="img/icon-quality.png" />
				<div>质量保证</div>
				<p>我们能提供准确率高达95%的字幕生成，并使用谷歌翻译来确保翻译的准确性</p>
			</div>
			<div class="desc-container-right">
				<img src="img/icon-cloud.png" />
				<div>无须安装</div>
				<p>生成字幕在云端进行，您不需要安装任何软件，不用担心中毒。</p>
			</div>
		</div>

		<footer>
			© 2018 Esub - Made with ♥ for the people of the internet.
		</footer>
	</body>

</html>