<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/index/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/index/data.js"></script>
    <script type="text/javascript" src="javascripts/convertFile.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u78" class="ax_default box_2">
        <div id="u78_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u79" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u80" class="ax_default box_1">
        <div id="u80_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u81" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u82" class="ax_default image">
        <img id="u82_img" class="img " src="images/index/u82.png"/>
        <!-- Unnamed () -->
        <div id="u83" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u84" class="ax_default label">
        <div id="u84_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u85" class="text">
          <p><span>昵称</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <!--<div id="u86" class="ax_default button">-->
        <!--<div id="u86_div" class=""></div>-->
        <!--&lt;!&ndash; Unnamed () &ndash;&gt;-->
        <!--<div id="u87" class="text">-->
          <!--<p ><span>上传</span></p>-->
        <!--</div>-->
      <!--</div>-->

      <!-- Unnamed (文本框) -->
      <div id="u88" class="ax_default text_field">
        <input type="file" name="upload_file" id="filename">
        <button id = "upload" onclick="upload_file()">上传</button>
        <!--<form id="editfile" method="post" action="/system/upload" enctype="multipart/form-data" style="margin:0 auto;">-->
          <!--<input name="text" type="text">-->
          <!--选择视频：<input name="avatar" id="upfile" type="file" onchange="readfile()">-->
          <!--&lt;!&ndash;<div id="u86" class="ax_default button">&ndash;&gt;-->
            <!--&lt;!&ndash;<div id="u86_div" class=""></div>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; Unnamed () &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<div id="u87" class="text">&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="submit" value="上传">&ndash;&gt;-->
              <!--&lt;!&ndash;&lt;!&ndash;<p ><span>上传</span></p>&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--<input type="submit" value="上传" >-->
          <!--&lt;!&ndash;<input type="submit" value="提交">&ndash;&gt;-->
        <!--</form>-->
        <!--<input id="u88_input" type="text" value="选择本地文件"/>-->
      </div>



      <!-- Unnamed (矩形) -->
      <div id="u89" class="ax_default button">
        <div id="u89_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u90" class="text" onclick="get_filename()">
          <p><span>下载</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u91" class="ax_default label">
        <div id="u91_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u92" class="text">
          <p><span style="text-decoration:underline;">开通</span><span style="text-decoration:underline;color:#FF0000;">超级会员</span><span style="text-decoration:underline;">享受双倍加速特权</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u93" class="ax_default text_field">
        <input id="searchText" type="text" placeholder="搜索字幕"/>
      </div>


      <!-- Unnamed (水平线) -->
      <div id="u94" class="ax_default line">
        <img id="u94_img" class="img " src="images/index/u94.png"/>
        <!-- Unnamed () -->
        <div id="u95" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u96" class="ax_default" data-left="920" data-top="129" data-width="254" data-height="22">

        <!-- Unnamed (下拉列表框) -->
        <div id="u97" class="ax_default droplist">
          <select id="u97_input">
            <option value="简体中文">简体中文</option>
            <option value="English">English</option>
          </select>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u98" class="ax_default label">
          <div id="u98_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u99" class="text">
            <p><span>字幕语言</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u100" class="ax_default" data-left="638" data-top="129" data-width="254" data-height="22">

        <!-- Unnamed (下拉列表框) -->
        <div id="u101" class="ax_default droplist">
          <select id="u101_input">
            <option value="简体中文">简体中文</option>
            <option value="English">English</option>
          </select>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u102" class="ax_default label">
          <div id="u102_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u103" class="text">
            <p><span>视频语言</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u104" class="ax_default label">
        <div id="u104_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u105" class="text">
          <p><span>我的</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u106" class="ax_default label">
        <div id="u106_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u107" class="text">
          <p><span>分享</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u108" class="ax_default label">
        <div id="u108_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u109" class="text">
          <p><span>更多</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u110" class="ax_default button">
        <img id="u110_img" class="img " src="images/index/u110.png"/>
        <!-- Unnamed () -->
        <div id="u111" class="text">
          <p><span>生成字幕</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u112" class="ax_default button">
        <img id="u112_img" class="img " src="images/index/u112.png"/>
        <!-- Unnamed () -->
        <div id="u113" class="text">
          <p><span>历史记录</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u114" class="ax_default button">
        <img id="u114_img" class="img " src="images/index/u112.png"/>
        <!-- Unnamed () -->
        <div id="u115" class="text">
          <p><span>购买字幕</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u116" class="ax_default button">
        <img id="u116_img" class="img " src="images/index/u112.png"/>
        <!-- Unnamed () -->
        <div id="u117" class="text">
          <p><span>出售字幕</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u118" onclick="member_center()" class="ax_default button">
        <img id="u118_img" class="img " src="images/login/u41.png"/>
        <!-- Unnamed () -->
        <div id="u119" class="text" div style="cursor:pointer;">
          <p><span>会员中心</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u120" class="ax_default label">
        <div id="u120_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u121" onclick="quit()" class="text" style="cursor:pointer;">
          <p><span style="text-decoration:underline;">退出</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u122" class="ax_default label">
        <div id="u122_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u123" class="text">
          <p><span>E-sub</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u124" class="ax_default box_2">
        <div id="u124_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u125" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u126" class="ax_default box_3">
        <div id="u126_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u127" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u128" class="ax_default label">
        <!--<div id="u128_div" class=""></div>-->
        <!-- Unnamed () -->
        <!--<div id="u129" class="text">-->
          <!--<p><span>已完成：20%</span></p>-->
          <progress id="progressbar" value=0 max=100></progress>
          <span id="progress" ></span>
        <!--</div>-->
      </div>

      <!-- Unnamed (多行文本框) -->
      <div id="u130" class="ax_default text_area">
        <textarea id="u130_input"></textarea>
      </div>

      <!-- Unnamed (图片) 搜索按钮 -->
      <div id="u131" class="ax_default image" >
        <img id="u131_img" class="img " src="images/index/u131.png" onclick="search()"/>
        <!-- Unnamed () -->
        <div id="u132" class="text" style="display:none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
<script type="text/javascript">
    var file;
    alert("接受的cookie："+getCookie("user"));

    $("#u85").text(getCookie("user"));

    function member_center() {
        setCookie("user",getCookie("user"));
        window.location.href='/member_center';
        alert("haha");
    }

    function setCookie(name,value)
    {
        /*
        *--------------- setCookie(name,value) -----------------
        * setCookie(name,value)
        * 功能:设置得变量name的值
        * 参数:name,字符串;value,字符串.
        * 实例:setCookie('username','baobao')
        *--------------- setCookie(name,value) -----------------
        */
        var Days = 30; //此 cookie 将被保存 30 天
        var exp　= new Date();
        exp.setTime(exp.getTime() + Days*24*60*60*1000);
        document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
        location.href = "/member_center"; //接收页面.
    }
    function getCookie(name)
    {
        /*
        *--------------- getCookie(name) -----------------
        * getCookie(name)
        * 功能:取得变量name的值
        * 参数:name,字符串.
        * 实例:alert(getCookie("baobao"));
        *--------------- getCookie(name) -----------------
        */
        var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
        if(arr !=null) return unescape(arr[2]); return null;
    }

    function quit() {
        window.location.href = '/login';
    }


  function upload_file() {

      var file1 = $("#filename")[0].files;
      var button = document.getElementById("upload");
      var progress = document.querySelector('#progress');
      var progressbar = document.getElementById("progressbar");
      button.onprogress = setProgress;
      console.log(file1[0].type);
      var sourcelangue = document.getElementById("u101_input");
      var detlangue = document.getElementById("u97_input");
      var text = document.getElementById("u130_input");
      var data = new FormData();
      //为FormData对象添加数据
      $.each(file1, function(i, file) {
          data.append('upload_file', file);
      });
      data.append('sourcelanguage',sourcelangue.value);
      data.append('detlanguage',detlangue.value);
      var xhr = new XMLHttpRequest();
      xhr.onload = uploadSuccess;
      xhr.upload.addEventListener("progress",setProgress,false);
      xhr.open("POST","/system/upload",true);
      xhr.send(data);

      function uploadSuccess(event) {
          if(xhr.readyState == 4){
              var result = JSON.parse(xhr.responseText);
              console.log(typeof JSON.parse(xhr.responseText));
              text.value = result["success"];
              file = result["file"];
              console.log(file);
          }
      }
      // $.ajax({
      //     data: data,
      //     url: '/system/upload',
      //     type:"post",
      //     dataType: 'JSON',
      //     contentType: false,    //不可缺
      //     processData: false,    //不可缺
      //     success: function(data,textStatus){
      //         var result = data["success"];
      //         text.value = result;
      //         //console.log(data);
      //     },
      //     error: function(err){
      //         console.log('error: ' + err);
      //     },
      //
      // });

      function setProgress(event) {
          if (event.lengthComputable) {
              var complete = Number.parseInt(event.loaded / event.total * 100);

              progressbar.max = event.total;
              progressbar.value = event.loaded;
              progress.innerHTML = complete + '%';
              if(complete >= 100){
                  progress.innerHTML = "字幕生成中"
              }
          }
      }
  }
  function get_filename() {
      if(file == "" || file == undefined) return;

      var data = {
          "files" : file
      }
      console.log(typeof JSON.parse(JSON.stringify(data)));
      //data.append('file','shell.sh');
      var url = "/system/download";
      var xhr = new XMLHttpRequest();

      xhr.open('POST',url,true);
      xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
      xhr.responseType = "blob";
      xhr.onload = function () {
          // 请求完成
          if (this.status === 200) {
              // 返回200
              var blob = this.response;
              var reader = new FileReader();
              reader.readAsDataURL(blob);    // 转换为base64，可以直接放入a表情href
              reader.onload = function (e) {
                  // 转换完成，创建一个a标签用于下载
                  var a = document.createElement('a');
                  a.download = file;
                  a.href = e.target.result;
                  $("body").append(a);    // 修复firefox中无法触发click
                  a.click();
                  $(a).remove();
              }
          }
      };
      xhr.send("files=" +file);
      // $.get("/system/download",json);
      //window.location.href='/system/download';
  }
  
  function search() {
      var searchContent = document.getElementById("searchText").value;
      var json = {"search":searchContent}
      var text = document.getElementById("u130_input");
      $.ajax({
          url:"/system/search",
          type:"POST",
          dataType:"json",
          data:json,

          success: function(data,textStatus){
              var result = data["success"];
              file = data["file"];
              console.log(result);

              text.value = result;
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              console.log("error");
          },
          complete:function(XMLHttpRequest, textStatus) {
              console.log("complete");
          },
          statusCode:{
              404:function(){
                  console.log('404，页面不存在');
              }
          }
      });
  }
</script>
</html>
