<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/sign.css"/>

    <script type="text/javascript" src="javascripts/jquery-3.3.1.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/require.js"></script>
    <script src="javascripts/sha512.js"></script>
    <script src="javascripts/jsencrypt.min.js"></script>
    <script src="javascripts/login.js"></script>


    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script>
        //alert(returnCitySN.cname);
    </script>



</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">E-SUB</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse navbar-right" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li></li>
            <a class="navbar-text" href="/choose">首页</a>
            <li></li>
            <a class="navbar-text">功能概述</a>
            <li></li>
            <a class="navbar-text">价格</a>
            <li></li>
            <a class="navbar-text" href="/login">注册</a>
            <li></li>
            <a class="navbar-text" href="/login">登陆</a>
        </ul>
    </div>
</nav>

<div id="container">
    <div class="logo-div">
        <img src="img/logo.jpg" class="logo-img"/>
    </div>
    <div class="tab">
        <div class="tab-login">
            <a class="super-link center" onclick="tabClick(this)" id="login-tab-btn">登陆</a>
        </div>
        <div class="tab-register">
            <a class="super-link center" onclick="tabClick(this)" id="reg-tab-btn">注册</a>
        </div>
    </div>

    <div class="login" id="login">
        <!--登陆-->
        <div class="input-linex">
            <div class="input-line-icon"><img src="img/email_icon.png" class="input-line-icon-image"/></div>
            <input placeholder="邮箱" id="account_input" class="input-area"/>
        </div>

        <div class="input-linex">
            <div class="input-line-icon"><img src="img/password_icon.png" class="input-line-icon-image"/></div>
            <input placeholder="密码" type="password" id="password_input" class="input-area"/>
        </div>

        <div onclick="login()" class="loginBtn">
            登陆
        </div>

        <div class="forget">
            <a class="forget-text" href="#">忘记密码</a>
        </div>

        <div class="quick-line">
            <div class="line-div"></div>
            <div class="quick-desc">快捷登陆</div>
            <div class="line-div"></div>
            <div></div>
        </div>

        <div class="quick-login-icons">
            <!--快捷登陆-->
            <div class="qq-icon"><img src="img/qq.png" class="qq-icon-image"/></div>
        </div>
    </div>

    <div class="register" id="register">
        <div class="input-linex">
            <div class="input-line-icon"><img src="img/user.png" class="input-line-icon-image"/></div>
            <input placeholder="昵称" id="nickName_input" class="input-area"/>
        </div>
        <div class="input-linex">
            <div class="input-line-icon"><img src="img/email_icon.png" class="input-line-icon-image"/></div>
            <input placeholder="邮箱" id="email_input" class="input-area"/>
        </div>
        <div class="input-linex">
            <div class="input-line-icon"><img src="img/password_icon.png" class="input-line-icon-image"/></div>
            <input placeholder="密码" type="password" id="password2_input" class="input-area"/>
        </div>
        <div class="input-linex">
            <input placeholder="验证码" id="checkcode_input" class="code-input"/>
            <button onclick="getCheckCode()" class="btn code-get-btn">获取验证码</button>
        </div>
        <div onclick="reg()" class="loginBtn">
            免费注册
        </div>

        <div class="forget introduction">
            点击免费注册即视为您同意
            <a class="forget-text introduction" onclick="protocal()" href="#">E-sub用户协议</a>
        </div>
    </div>
</div>
</body>

</html>











