<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/sign.css" />

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="javascripts/require.js"></script>
    <script src="javascripts/sha512.js"></script>
    <script src="javascripts/jsencrypt.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">E-SUB</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse navbar-right" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li></li>
            <a class="navbar-text" href="index.html">首页</a>
            <li></li>
            <a class="navbar-text">功能概述</a>
            <li></li>
            <a class="navbar-text">价格</a>
            <li></li>
            <a class="navbar-text" href="signup.html">注册</a>
            <li></li>
            <a class="navbar-text" href="#">登陆</a>
        </ul>
    </div>
</nav>

<div id="container">
    <div class="logo-div">
        <img src="img/logo.jpg" class="logo-img" />
    </div>
    <div class="tab">
        <div class="tab-login">
            <a class="super-link center" onclick="tabClick(this)" id="login-tab-btn">登陆</a>
        </div>
        <div class="tab-register">
            <a class="super-link center" onclick="tabClick(this)" id="reg-tab-btn">注册</a>
        </div>
    </div>

    <div class="login" id="login">
        <!--登陆-->
        <div class="input-linex">
            <div class="input-line-icon"><img src="img/email_icon.png" class="input-line-icon-image" /></div>
            <input placeholder="邮箱" id="account_input" class="input-area" />
        </div>

        <div class="input-linex">
            <div class="input-line-icon"><img src="img/password_icon.png" class="input-line-icon-image" /></div>
            <input placeholder="密码" id="password_input" class="input-area" />
        </div>

        <div onclick="login()" class="loginBtn">
            登陆
        </div>

        <div class="forget">
            <a class="forget-text" href="#">忘记密码</a>
        </div>

        <div class="quick-line">
            <div class="line-div"></div>
            <div class="quick-desc">快捷登陆</div>
            <div class="line-div"></div>
            <div></div>
        </div>

        <div class="quick-login-icons">
            <!--快捷登陆-->
            <div class="qq-icon"><img src="img/qq.png" class="qq-icon-image" /></div>
        </div>
    </div>

    <div class="register" id="register">
        <div class="input-linex">
            <div class="input-line-icon"><img src="img/user.png" class="input-line-icon-image" /></div>
            <input placeholder="昵称" id="nickName_input" class="input-area" />
        </div>
        <div class="input-linex">
            <div class="input-line-icon"><img src="img/email_icon.png" class="input-line-icon-image" /></div>
            <input placeholder="邮箱" id="email_input" class="input-area" />
        </div>
        <div class="input-linex">
            <div class="input-line-icon"><img src="img/password_icon.png" class="input-line-icon-image" /></div>
            <input placeholder="密码" id="password2_input" class="input-area" />
        </div>
        <div class="input-linex">
            <input placeholder="验证码" id="checkcode_input" class="code-input" />
            <button onclick="getCode()" class="btn code-get-btn">获取验证码</button>
        </div>
        <div  onclick="reg()" class="loginBtn">
            免费注册
        </div>

        <div class="forget introduction">
            点击免费注册即视为您同意
            <a class="forget-text introduction" href="#">E-sub用户协议</a>
        </div>
    </div>
</div>

<script>
    var c = document.getElementById("container");
    var a = (window.innerHeight - c.offsetHeight) / 2 - 30;
    if(a > 0) {
        c.style.marginTop = a + "px";
    }

    $(window).resize(function() {
        var a = (window.innerHeight - c.offsetHeight) / 2 - 30;
        if(a > 0) {
            c.style.marginTop = a + "px";
        }

    });

    function tabClick(e) {

        e.className = "super-link focus-link"
        var lb = document.getElementById("login-tab-btn");
        var rb = document.getElementById("reg-tab-btn");

        if(e.id == "login-tab-btn") {
            lb.className = "focus-link";
            rb.className = "super-link";
            document.getElementById("login").style.display = "inline";
            document.getElementById("register").style.display = "none";
        } else if(e.id == "reg-tab-btn") {
            rb.className = "focus-link";
            lb.className = "super-link";
            document.getElementById("login").style.display = "none";
            document.getElementById("register").style.display = "inline";
        }
    }

    function login() {
        console.log("dasdsadasd");
        var account = document.getElementById("account_input").value;
        var password = document.getElementById("password_input").value;

        var crypt = new JSEncrypt();

        crypt.setPublicKey('-----BEGIN PUBLIC KEY-----\n' +
            'MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAoV3HuEo0QkS87MvvkumL\n' +
            'VxBnqYEea/khLUdZ15E7ShCzUnqMpA8nt8FXDoZJhLJC+zBv6sc1ugIg7n8mac2J\n' +
            '9DgRxCDgYrP79dpoXwQOhMzQKQ39/s0br865TCDma0sO3UkT2pJ9UVueuqg/nz3D\n' +
            'XXI390TsIWanC8l5pj28koxBKbYyeOEGs/VM4as4UrJ46FxB68o7EWgkMYWJJLJG\n' +
            '5aQbzOQOCkRhrDe+dCpyJCIM/qeepBUYNmq2c86mrnYVlEWbTt4pIJhLxN7yHSXH\n' +
            'i/9lFopLCVZIsJEWvVj1ficvy/VtTx09VG9mtDFgPl5v6EaS2rKU9ltp6HuQDeri\n' +
            'IwIDAQAB\n' +
            '-----END PUBLIC KEY-----\n');

        var salt='-rMC](s\\s}>UW0,,3`{G)wj\')Sf{,uNdwet+y{WgQOwLQi-;Vb:+uqu)UUL`1hz-';

        var cryptdata= crypt.encrypt(password+salt);

        //console.log("==================================");

        //console.log(cryptdata);
        // alert(cryptdata);



        var transToBack={"Account":account,"Password":cryptdata};

        $.ajax({
            url:"/login/test",
            type:"POST",
            dataType:"JSON",
            data:transToBack,
            success: function(data,textStatus){


                window.location.href='/index';
                console.log("ok");


            },
            error: function(data){

                var respond_json=JSON.parse(data.responseText);

                console.log(respond_json.error);


                if(respond_json.error=='password wrong') {

                    console.log("密码错误");

                    console.log(data);

                    alert("password WRONG! please try again");

                    window.location.href = "/login";



                }
                else if(respond_json.error=='NO account'){

                    console.log("账户不存在");

                    alert("Account don't exist");

                    window.location.href = "/register";


                }

            },

            success: function(data){
                setCookie("user",account);

                console.log("密码正确");

                console.log(data);

                alert("Welcome");

                window.location.href="/index";



            },
            statusCode:{
                200:function () {
                    window.location.href='/index';
                },
                404:function(){
                    window.location.href='/error';
                }
            }
        });
        console.log(transToBack);
        //window.location.href='http://localhost:3000';
    }

    function transToRegister() {
        window.location.href='/register';
    }

    function setCookie(name,value)
    {
        /*
        *--------------- setCookie(name,value) -----------------
        * setCookie(name,value)
        * 功能:设置得变量name的值
        * 参数:name,字符串;value,字符串.
        * 实例:setCookie('username','baobao')
        *--------------- setCookie(name,value) -----------------
        */
        var Days = 30; //此 cookie 将被保存 30 天
        var exp　= new Date();
        exp.setTime(exp.getTime() + Days*24*60*60*1000);
        document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
        location.href = "/index"; //接收页面.
    }

    function forget() {
        window.location.href='/getForget';
    }













    /*
    以下是注册的js
     */








    var num="";
    var info;
    var teleNum = document.getElementById("email_input").value;
    var reg_account = document.getElementById("nickName_input").value;
    var reg_password = document.getElementById("password2_input").value;
    var reg_check = document.getElementById("checkcode_input").value;

    function reg() {

        var teleNum = document.getElementById("email_input").value;
        var reg_account = document.getElementById("nickName_input").value;
        var reg_password = document.getElementById("password2_input").value;
        var reg_check = document.getElementById("checkcode_input").value;
        var info = {"teleNum": teleNum, "reg_account": reg_account, "reg_password": reg_password};

        verifyCode();
    }


    function getCheckCode() {

        //num = Math.ceil(Math.random()*899999 + 100000);
        alert("验证码已发送");
        getCode();


        info={"teleNum":teleNum,"account":reg_account};

        $.ajax({
            url:"/users/register_1",
            type:"POST",
            dataType:"JSON",
            data:info,
            success: function(data){

                var respond_json=data["success"];
                if(respond_json=="NO account"){
                    //发验证码
                    info={"teleNum":teleNum,"account":reg_account,"password":reg_password};


                }
                else if(respond_json=="account exist"){
                    alert("账号已存在!");
                    //不发验证码


                }
            },

            statusCode:{
                404:function(){
                    alert('404，页面不存在');
                }
            }
        });

    }


    //哈敏的邮箱
    function getCode() {

        var email = document.getElementById("email_input").value;
        var r = {
            "email":email
        }

        $.ajax({
            type: "get",
            url: "/users/getcode",
            data: r,
            success: function(data) {
                alert("已发送验证码，有效时间为30分钟")
            },
            error: function(data) {
                alert("验证码请求失败")
            }
        });

    }

    function verifyCode() {
        var email = document.getElementById("email_input").value;
        var code = document.getElementById("checkcode_input").value;


        var teleNum = document.getElementById("email_input").value;
        var reg_account = document.getElementById("nickName_input").value;
        var reg_password = document.getElementById("password2_input").value;
        var reg_check = document.getElementById("checkcode_input").value;

        r = {
            "email":email,
            "code":code
        }


        var crypt = new JSEncrypt();

        crypt.setPublicKey('-----BEGIN PUBLIC KEY-----\n' +
            'MIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgF0i2uZK7qW0FF6UUGP+IZgnuuG5\n' +
            'avF3ljIrSLRRP5m2pSeSneJG2ow8G0UxNOpHXRiOjNQAYImOIZceokwzyXk+LvwK\n' +
            'vpRM4H/CVQBvMxaGIIC4oDjicGu6FsDp3nUYAjvPbefyh9VTBYQhBkkTFcnG3RGj\n' +
            'fJspCguML6aHkQtXAgMBAAE=\n' +
            '-----END PUBLIC KEY-----');

        var salt='-rMC](s\\s}>UW0,,3`{G)wj\')Sf{,uNdwet+y{WgQOwLQi-;Vb:+uqu)UUL`1hz-';

        var cryptdata= crypt.encrypt(reg_password+salt);





        info={
            "teleNum":email,"account":reg_account,"password":cryptdata
        }
        $.ajax({
            type: "get",
            url: "/users/verifycode",
            data: r,
            success: function(data) {
                if(data == true){
                    alert("验证码正确");
                    //跳转
                    window.location.href='/login';


                    console.log("现在开始向数据库插入数据：");
                    console.log(info);


                    $.ajax({

                        url:"/users/register_2",
                        type:"POST",
                        dataType:"JSON",
                        data:info,


                        success: function(data,textStatus){
                            var result = data["success"];
                            if(result=="register success"){
                                alert("注册成功！");
                            }
                            else {
                                alert("注册失败！");
                            }

                        },
                        statusCode:{
                            404:function(){
                                alert('404，页面不存在');
                            }
                        }
                    });

                }else{
                    alert("验证码错误或已过期");

                }
            },
            error: function(data) {
                alert("请求失败")
            }
        });
    }

    function buttonLog() {
        window.location.href='/login';
    }





</script>

</body>

</html>











