<!DOCTYPE html>
<html>
<head>
    <title>member_center</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/member_center/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/member_center/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (矩形) -->
    <div id="u348" class="ax_default box_1">
        <div id="u348_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u349" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u350" class="ax_default label">
        <div id="u350_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u351" class="text">
            <p><span>个人资料</span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u352" class="ax_default" data-left="474" data-top="278" data-width="292" data-height="160">

        <!-- Unnamed (矩形) -->
        <div id="u353" class="ax_default button">
            <div id="u353_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u354" onclick="saveInfo()" class="text" style="cursor:pointer;">
                <p><span>保存</span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u355" class="ax_default label">
            <div id="u355_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u356" class="text">
                <p><span>性别：</span></p>
            </div>
        </div>

        <!-- Unnamed (单选按钮) -->
        <div id="u357" class="ax_default radio_button">
            <label for="u357_input">
                <!-- Unnamed () -->
                <div id="u358" class="text">
                    <p><span>&nbsp;男</span></p>
                </div>
            </label>
            <input id="u357_input" onclick="radioclick(1)" type="radio" value="radio" name="u357"/>
        </div>

        <!-- Unnamed (单选按钮) -->
        <div id="u359" class="ax_default radio_button">
            <label for="u359_input">
                <!-- Unnamed () -->
                <div id="u360" class="text">
                    <p><span>&nbsp;女</span></p>
                </div>
            </label>
            <input id="u359_input" onclick="radioclick(2)" type="radio" value="radio" name="u359"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u361" class="ax_default label">
            <div id="u361_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u362" class="text">
                <p><span>生日：</span></p>
            </div>
        </div>

        <!-- Unnamed (下拉列表框) -->
        <div id="u363" class="ax_default droplist">
            <select id="u363_input">
                <option value="年">年</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
                <option value="2005">2005</option>
                <option value="2004">2004</option>
                <option value="2003">2003</option>
                <option value="2002">2002</option>
                <option value="2001">2001</option>
                <option value="2000">2000</option>
                <option value="1999">1999</option>
                <option value="1998">1998</option>
                <option value="1997">1997</option>
                <option value="1996">1996</option>
                <option value="1995">1995</option>
                <option value="1994">1994</option>
                <option value="1993">1993</option>
                <option value="1992">1992</option>
                <option value="1991">1991</option>
                <option value="1990">1990</option>
                <option value="1989">1989</option>
                <option value="1988">1988</option>
                <option value="1987">1987</option>
                <option value="1986">1986</option>
                <option value="1985">1985</option>
                <option value="1984">1984</option>
                <option value="1983">1983</option>
                <option value="1982">1982</option>
                <option value="1981">1981</option>
                <option value="1980">1980</option>
                <option value="1979">1979</option>
                <option value="1978">1978</option>
                <option value="1977">1977</option>
                <option value="1976">1976</option>
                <option value="1975">1975</option>
                <option value="1974">1974</option>
                <option value="1973">1973</option>
                <option value="1972">1972</option>
                <option value="1971">1971</option>
                <option value="1970">1970</option>
                <option value="1969">1969</option>
                <option value="1968">1968</option>
                <option value="1967">1967</option>
                <option value="1966">1966</option>
                <option value="1965">1965</option>
                <option value="1964">1964</option>
                <option value="1963">1963</option>
                <option value="1962">1962</option>
                <option value="1961">1961</option>
                <option value="1960">1960</option>
                <option value="1959">1959</option>
                <option value="1958">1958</option>
                <option value="1957">1957</option>
                <option value="1956">1956</option>
                <option value="1955">1955</option>
                <option value="1954">1954</option>
                <option value="1953">1953</option>
                <option value="1952">1952</option>
                <option value="1951">1951</option>
                <option value="1950">1950</option>
                <option value="1949">1949</option>
                <option value="1948">1948</option>
                <option value="1947">1947</option>
                <option value="1946">1946</option>
                <option value="1945">1945</option>
                <option value="1944">1944</option>
                <option value="1943">1943</option>
                <option value="1942">1942</option>
                <option value="1941">1941</option>
                <option value="1940">1940</option>
                <option value="1939">1939</option>
                <option value="1938">1938</option>
                <option value="1937">1937</option>
                <option value="1936">1936</option>
                <option value="1935">1935</option>
                <option value="1934">1934</option>
                <option value="1933">1933</option>
                <option value="1932">1932</option>
                <option value="1931">1931</option>
                <option value="1930">1930</option>
                <option value="1929">1929</option>
                <option value="1928">1928</option>
                <option value="1927">1927</option>
                <option value="1926">1926</option>
                <option value="1925">1925</option>
                <option value="1924">1924</option>
                <option value="1923">1923</option>
                <option value="1922">1922</option>
                <option value="1921">1921</option>
                <option value="1920">1920</option>
                <option value="1919">1919</option>
                <option value="1918">1918</option>
                <option value="1917">1917</option>
                <option value="1916">1916</option>
                <option value="1915">1915</option>
                <option value="1914">1914</option>
                <option value="1913">1913</option>
                <option value="1912">1912</option>
                <option value="1911">1911</option>
                <option value="1910">1910</option>
                <option value="1909">1909</option>
                <option value="1908">1908</option>
                <option value="1907">1907</option>
                <option value="1906">1906</option>
                <option value="1905">1905</option>
                <option value="1904">1904</option>
                <option value="1903">1903</option>
                <option value="1902">1902</option>
                <option value="1901">1901</option>
                <option value="1900">1900</option>
            </select>
        </div>

        <!-- Unnamed (下拉列表框) -->
        <div id="u364" class="ax_default droplist">
            <select id="u364_input">
                <option value="月">月</option>
                <option value="12">12</option>
                <option value="11">11</option>
                <option value="10">10</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u365" class="ax_default label">
            <div id="u365_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u366" class="text">
                <p><span>血型：</span></p>
            </div>
        </div>

        <!-- Unnamed (下拉列表框) -->
        <div id="u367" class="ax_default droplist">
            <select id="u367_input">
                <option value="未知">未知</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="O">O</option>
                <option value="AB">AB</option>
                <option value="其他">其他</option>
            </select>
        </div>

        <!-- Unnamed (单选按钮) -->
        <div id="u368" class="ax_default radio_button">
            <label for="u368_input">
                <!-- Unnamed () -->
                <div id="u369" class="text">
                    <p><span>&nbsp;其他</span></p>
                </div>
            </label>
            <input id="u368_input" onclick="radioclick(3)" type="radio" value="radio" name="u368"/>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u370" class="ax_default image">
        <label class="ui_button ui_button_primary"  for="file">上传文件</label>
        <img id="u370_img"  class="img" onclick="clickimg()" src="images/main/u82.png" style="cursor:pointer;">

        <form><input type="file" accept="image/*" name="file" id="file" onchange="uploadfile()" style="position:absolute;clip:rect(0 0 0 0); "></form>
        <!--<input type="file" name="file" id="file" style="cursor:pointer;" onchange="uploadfile()">-->
        <!-- Unnamed () -->
        <div id="u371" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u372" class="ax_default label">
        <div id="u372_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u373" class="text">
            <p><span>柚子柚子</span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u374" class="ax_default" data-left="217" data-top="555" data-width="250" data-height="246">

        <!-- Unnamed (组合) -->
        <div id="u375" class="ax_default" data-left="217" data-top="555" data-width="250" data-height="50">

            <!-- Unnamed (矩形) -->
            <div id="u376" class="ax_default button">
                <div id="u376_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u377" class="text">
                    <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 修改密码</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u378" class="ax_default icon">
                <img id="u378_img" class="img " src="images/member_center/u378.png"/>
                <!-- Unnamed () -->
                <div id="u379" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u380" class="ax_default" data-left="217" data-top="604" data-width="250" data-height="50">

            <!-- Unnamed (矩形) -->
            <div id="u381" class="ax_default button">
                <div id="u381_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u382" class="text">
                    <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 手机：未绑定</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u383" class="ax_default icon">
                <img id="u383_img" class="img " src="images/member_center/u383.png"/>
                <!-- Unnamed () -->
                <div id="u384" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u385" class="ax_default label">
                <div id="u385_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u386" class="text">
                    <p><span>修改</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u387" class="ax_default" data-left="217" data-top="653" data-width="250" data-height="50">

            <!-- Unnamed (矩形) -->
            <div id="u388" class="ax_default button">
                <div id="u388_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u389" class="text">
                    <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 账号申诉</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u390" class="ax_default icon">
                <img id="u390_img" class="img " src="images/member_center/u390.png"/>
                <!-- Unnamed () -->
                <div id="u391" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u392" class="ax_default" data-left="217" data-top="702" data-width="250" data-height="50">

            <!-- Unnamed (矩形) -->
            <div id="u393" class="ax_default button">
                <div id="u393_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u394" class="text">
                    <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 在线客服</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u395" class="ax_default icon">
                <img id="u395_img" class="img " src="images/member_center/u395.png"/>
                <!-- Unnamed () -->
                <div id="u396" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u397" class="ax_default" data-left="217" data-top="751" data-width="250" data-height="50">

            <!-- Unnamed (矩形) -->
            <div id="u398" class="ax_default button">
                <div id="u398_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u399" class="text">
                    <p><span>&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 身份认证</span></p>
                </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u400" class="ax_default icon">
                <img id="u400_img" class="img " src="images/member_center/u400.png"/>
                <!-- Unnamed () -->
                <div id="u401" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u402" class="ax_default" data-left="650" data-top="23" data-width="125" data-height="30">

        <!-- Unnamed (图片) -->
        <div id="u403" class="ax_default image">
            <img id="u403_img" class="img " src="images/main/u82.png"/>
            <!-- Unnamed () -->
            <div id="u404" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u405" class="ax_default label">
            <div id="u405_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u406" class="text">
                <p><span>柚子柚子</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u407" class="ax_default button">
        <img id="u407_img" class="img " src="images/member_center/u407.png"/>
        <!-- Unnamed () -->
        <div id="u408" class="text">
            <p><span>开通超级会员</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u409" class="ax_default label">
        <div id="u409_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u410" class="text">
            <p><span>会员中心</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u411" class="ax_default label">
        <div id="u411_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u412" class="text">
            <p><span>E-sub</span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u413" class="ax_default line">
        <img id="u413_img" class="img " src="images/register/u74.png"/>
        <!-- Unnamed () -->
        <div id="u414" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u415" class="ax_default image">
        <img id="u415_img" class="img " src="images/register/u72.png"/>
        <!-- Unnamed () -->
        <div id="u416" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u417" class="ax_default button">
        <div id="u417_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u418" class="text">
            <p><span>会员主页</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u419" class="ax_default button">
        <div id="u419_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u420" class="text">
            <p><span>超级会员</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u421" class="ax_default button">
        <div id="u421_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u422" class="text">
            <p><span>消费记录</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u423" class="ax_default button">
        <div id="u423_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u424" class="text">
            <p><span>帮助中心</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u425" class="ax_default box_1">
        <div id="u425_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u426" class="text">
            <p><span>&nbsp;&nbsp; &nbsp;&nbsp; 账号资料</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u427" class="ax_default label">
        <div id="u427_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u428" onclick="clearcookie()" class="text" style="cursor:pointer;">
            <p><span style="text-decoration:underline;">退出</span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u429" class="ax_default" data-left="512" data-top="829" data-width="508" data-height="217">

        <!-- Unnamed (矩形) -->
        <div id="u430" class="ax_default label">
            <div id="u430_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u431" class="text">
                <p><span>登录历史</span></p>
            </div>
        </div>

        <!-- Unnamed (表格) -->
        <div id="u432" class="ax_default">

            <!-- Unnamed (单元格) -->
            <div id="u433" class="ax_default table_cell">
                <img id="u433_img" class="img " src="images/mine_history/u164.png"/>
                <!-- Unnamed () -->
                <div id="u434" class="text">
                    <p><span>时间</span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u435" class="ax_default table_cell">
                <img id="u435_img" class="img " src="images/mine_history/u166.png"/>
                <!-- Unnamed () -->
                <div id="u436" class="text">
                    <p><span>IP</span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u437" class="ax_default table_cell">
                <img id="u437_img" class="img " src="images/mine_history/u168.png"/>
                <!-- Unnamed () -->
                <div id="u438" class="text">
                    <p><span>浏览器</span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u439" class="ax_default table_cell">
                <img id="u439_img" class="img " src="images/mine_history/u164.png"/>
                <!-- Unnamed () -->
                <div id="u440" class="text">
                    <p><span>登录方式</span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u441" class="ax_default table_cell">
                <img id="u441_img" class="img " src="images/mine_history/u172.png"/>
                <!-- Unnamed () -->
                <div id="u442" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u443" class="ax_default table_cell">
                <img id="u443_img" class="img " src="images/mine_history/u174.png"/>
                <!-- Unnamed () -->
                <div id="u444" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u445" class="ax_default table_cell">
                <img id="u445_img" class="img " src="images/mine_history/u176.png"/>
                <!-- Unnamed () -->
                <div id="u446" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u447" class="ax_default table_cell">
                <img id="u447_img" class="img " src="images/mine_history/u178.png"/>
                <!-- Unnamed () -->
                <div id="u448" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u449" class="ax_default table_cell">
                <img id="u449_img" class="img " src="images/member_center/u449.png"/>
                <!-- Unnamed () -->
                <div id="u450" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u451" class="ax_default table_cell">
                <img id="u451_img" class="img " src="images/member_center/u451.png"/>
                <!-- Unnamed () -->
                <div id="u452" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u453" class="ax_default table_cell">
                <img id="u453_img" class="img " src="images/member_center/u453.png"/>
                <!-- Unnamed () -->
                <div id="u454" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u455" class="ax_default table_cell">
                <img id="u455_img" class="img " src="images/member_center/u455.png"/>
                <!-- Unnamed () -->
                <div id="u456" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u457" class="ax_default table_cell">
                <img id="u457_img" class="img " src="images/mine_history/u164.png"/>
                <!-- Unnamed () -->
                <div id="u458" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u459" class="ax_default table_cell">
                <img id="u459_img" class="img " src="images/mine_history/u166.png"/>
                <!-- Unnamed () -->
                <div id="u460" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u461" class="ax_default table_cell">
                <img id="u461_img" class="img " src="images/mine_history/u168.png"/>
                <!-- Unnamed () -->
                <div id="u462" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (单元格) -->
            <div id="u463" class="ax_default table_cell">
                <img id="u463_img" class="img " src="images/mine_history/u164.png"/>
                <!-- Unnamed () -->
                <div id="u464" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u465" class="ax_default label">
            <div id="u465_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u466" class="text">
                <p><span>以下为您最近2次登录记录，若存在异常情况，请在核实后尽快</span></p>
            </div>
        </div>

        <!-- Unnamed (水平线) -->
        <div id="u467" class="ax_default line">
            <img id="u467_img" class="img " src="images/member_center/u467.png"/>
            <!-- Unnamed () -->
            <div id="u468" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (水平线) -->
        <div id="u469" class="ax_default line">
            <img id="u469_img" class="img " src="images/member_center/u467.png"/>
            <!-- Unnamed () -->
            <div id="u470" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (水平线) -->
        <div id="u471" class="ax_default line">
            <img id="u471_img" class="img " src="images/member_center/u467.png"/>
            <!-- Unnamed () -->
            <div id="u472" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (水平线) -->
        <div id="u473" class="ax_default line">
            <img id="u473_img" class="img " src="images/member_center/u467.png"/>
            <!-- Unnamed () -->
            <div id="u474" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u475" class="ax_default label">
            <div id="u475_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u476" class="text">
                <p><span>修改密码</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u477" class="ax_default box_1">
        <div id="u477_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u478" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u479" class="ax_default line">
        <img id="u479_img" class="img " src="images/member_center/u479.png"/>
        <!-- Unnamed () -->
        <div id="u480" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u481" class="ax_default box_1">
        <div id="u481_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u482" class="text">
            <p><span>advertisement</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u483" class="ax_default label">
        <div id="u483_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u484" class="text">
            <p><span>安全评分</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u485" class="ax_default box_2">
        <div id="u485_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u486" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u487" class="ax_default box_3">
        <div id="u487_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u488" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u489" class="ax_default label">
        <div id="u489_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u490" class="text">
            <p><span>70分！</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u491" class="ax_default button">
        <img id="u491_img" class="img " src="images/member_center/u491.png"/>
        <!-- Unnamed () -->
        <div id="u492" class="text">
            <p><span>重新检测</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u493" class="ax_default label">
        <div id="u493_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u494" class="text">
            <p><span>您的账号存在安全风险，建议优化以下几项：</span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u495" class="ax_default" data-left="516" data-top="655" data-width="515" data-height="35">

        <!-- Unnamed (形状) -->
        <div id="u496" class="ax_default icon">
            <img id="u496_img" class="img " src="images/member_center/u496.png"/>
            <!-- Unnamed () -->
            <div id="u497" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u498" class="ax_default label">
            <div id="u498_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u499" class="text">
                <p><span>绑定手机号</span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u500" class="ax_default button">
            <div id="u500_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u501" class="text">
                <p><span>立即绑定</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u502" class="ax_default" data-left="516" data-top="700" data-width="515" data-height="35">

        <!-- Unnamed (形状) -->
        <div id="u503" class="ax_default icon">
            <img id="u503_img" class="img " src="images/member_center/u496.png"/>
            <!-- Unnamed () -->
            <div id="u504" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u505" class="ax_default label">
            <div id="u505_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u506" class="text">
                <p><span>绑定密保邮箱</span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u507" class="ax_default button">
            <div id="u507_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u508" class="text">
                <p><span>立即绑定</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u509" class="ax_default" data-left="516" data-top="745" data-width="515" data-height="35">

        <!-- Unnamed (形状) -->
        <div id="u510" class="ax_default icon">
            <img id="u510_img" class="img " src="images/member_center/u496.png"/>
            <!-- Unnamed () -->
            <div id="u511" class="text" style="display:none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u512" class="ax_default label">
            <div id="u512_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u513" class="text">
                <p><span>设置密保问题</span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u514" class="ax_default button">
            <div id="u514_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u515" class="text">
                <p><span>立即设置</span></p>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    /*
    * 图片上传
    * */
    var imagename;
    var imageold;
    function uploadfile(){
        var file = document.getElementById("file");
        var formData = new FormData();
        if(file.files[0].type != "image/jpeg" && file.files[0].type != "image/png")
        {
            alert("格式错误，重新选择！");
            //file.value = "";
            return;
        }



        formData.append('file',file.files[0]);
        imagename= file.files[0].name;

        var date = new Date();
        var seperator1 = "-";
        var seperator2 = ":";
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
            + " " + date.getHours() + seperator2 + date.getMinutes()
            + seperator2 + date.getSeconds();
        console.log(currentdate);



        console.log(file.files[0].name);

        $.ajax({
            url: '/users/upload',
            type: 'POST',
            data: formData,
            // async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data){
                if(200 === data.code) {
                    $('#result').html("上传成功！");
                    $('#img').attr('src',data.data);
                } else {
                    $('#result').html("上传失败！");
                }
                console.log('imgUploader upload success');
                var road="images/head/"+file.files[0].name;
                //$('#u370_img').attr('images/main/','u94.png');
                document.getElementById('u370_img').src=road;


            },
            error: function(){
                $("#result").html("与服务器通信发生错误");
            }
        });
        //file.value = "";
    }


    ///////////////////////////





    var sex;
    var useraccount;

    //alert("接受的cookie："+getCookie("user"));
    var user = {"account":getCookie("user")};

    $.ajax({
        url:"/users/member_center",
        type:"POST",
        dataType:"JSON",
        data:user,
        success: function(data,textStatus){



            var userInfo =data["success"] ;

            console.log(userInfo);

            useraccount=userInfo[0].account;
            var userphone=userInfo[0].phone;
            var usermail=userInfo[0].mail;
            var usersex = userInfo[0].sex;
            var userbirthday_year = userInfo[0].birthday_year;
            var userbirthday_month = userInfo[0].birthday_month;
            var userbirthday_day = userInfo[0].birthday_day;
            var userblood = userInfo[0].blood;
            var userimage = userInfo[0].image;
            imageold = userimage;
            var password_strength=userInfo[0].pwd_strength;


            console.log(userphone);
            console.log(usermail);
            console.log(usersex);
            console.log(userbirthday_year);
            console.log(userbirthday_month);
            console.log(userbirthday_day);
            console.log(userblood);
            console.log(userimage);
            //document.getElementById("u373").innerHtml.value=useraccount;
            //document.getElementById("u406").innerHtml.value=useraccount;

            $("#u373").text(useraccount);
            $("#u406").text(useraccount);
            sex=usersex;
            if(usersex=="man"){
                document.getElementById("u357_input").checked=true;
                document.getElementById("u359_input").checked=false;
                document.getElementById("u368_input").checked=false;
            }
            else if(usersex=="woman"){
                document.getElementById("u357_input").checked=false;
                document.getElementById("u359_input").checked=true;
                document.getElementById("u368_input").checked=false;
            }
            else if(usersex=="other"){
                document.getElementById("u357_input").checked=false;
                document.getElementById("u359_input").checked=false;
                document.getElementById("u368_input").checked=true;
            }
            else{
                document.getElementById("u357_input").checked=false;
                document.getElementById("u359_input").checked=false;
                document.getElementById("u368_input").checked=false;
            }
            var sl=$("#u363_input");
            var ops=sl.find("option");
            ops.eq(0).val(userbirthday_year).text(userbirthday_year).prop("selected",true);
            var sl=$("#u364_input");
            var ops=sl.find("option");
            ops.eq(0).val(userbirthday_month).text(userbirthday_month).prop("selected",true);
            var sl=$("#u367_input");
            var ops=sl.find("option");
            ops.eq(0).val(userblood).text(userblood).prop("selected",true);

            document.getElementById('u370_img').src="images/head/"+userimage;
            document.getElementById('u403_img').src="images/head/"+userimage;


        },
        statusCode:{
            404:function(){
                alert('404，页面不存在');
            }
        }
    });

    function clearcookie() {
        //setCookie(user, "", -1);
        window.location.href = '/login';
    }

    function getCookie(name)
    {
        /*
        *--------------- getCookie(name) -----------------
        * getCookie(name)
        * 功能:取得变量name的值
        * 参数:name,字符串.
        * 实例:alert(getCookie("baobao"));
        *--------------- getCookie(name) -----------------
        */
        var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
        if(arr !=null) return unescape(arr[2]); return null;
    }
    function radioclick(a) {
        if(a==1){
            document.getElementById("u357_input").checked=true;
            document.getElementById("u359_input").checked=false;
            document.getElementById("u368_input").checked=false;
            sex="man";
        }
        else if(a==2){
            document.getElementById("u357_input").checked=false;
            document.getElementById("u359_input").checked=true;
            document.getElementById("u368_input").checked=false;
            sex="woman";
        }
        else {
            document.getElementById("u357_input").checked=false;
            document.getElementById("u359_input").checked=false;
            document.getElementById("u368_input").checked=true;
            sex="other";
        }
    }

    function saveInfo() {
        var ddl1 = document.getElementById("u363_input")
        var index1 = ddl1.selectedIndex;
        var ddl2 = document.getElementById("u364_input")
        var index2 = ddl2.selectedIndex;
        var ddl3 = document.getElementById("u367_input")
        var index3 = ddl3.selectedIndex;

        var Value_year = ddl1.options[index1].value;
        var Value_month = ddl2.options[index2].value;
        var Value_blood = ddl3.options[index3].value;
       // console.log("1243q21e213214124234"+imagename);
        var user_save ={"account":useraccount,"year":Value_year,"month":Value_month,"blood":Value_blood,"sex":sex,"image":imagename,"old":imageold};

        console.log(user_save);

        $.ajax({
            url:"/users/member_center_save",
            type:"POST",
            dataType:"JSON",
            data:user_save,
            success: function(data,textStatus){

                var userInfo =data["success"] ;
                if(userInfo=="ok") {
                    alert("保存成功！");
                    window.location.href = '/member_center';
                }

            },
            statusCode:{
                404:function(){
                    alert('404，页面不存在');
                }
            }
        });


    }

    function clickimg() {
        document.getElementById("file").click();
    }



</script>

</html>

