<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Esub-个人中心</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/person_center.css" />
    <script type="text/javascript" src="js/jquery-3.3.1.min.js" ></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script src="javascripts/member_center.js"></script>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">E-SUB</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <a class="navbar-text" href="generate.html">生成字幕</a>
            <li></li>
            <a class="navbar-text">历史记录</a>
            <li></li>
            <a class="navbar-text" href="/search">搜索字幕</a>
            <li></li>
            <a class="navbar-text" href="/buy">购买字幕</a>
            <li></li>
            <a class="navbar-text" href="/sale">出售字幕</a>
            <li></li>
            <a class="navbar-text" href="/MyShare">我的分享</a>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li></li>
            <img id="userimg2" class="navbar-text account-item pic" src="img/user.png" />
            <li></li>
            <a class="navbar-text account-item name" id="username1">呵呵</a>
            <li></li>
            <a class="navbar-text account-item exit" onclick="clearcookie()" href="#">退出</a>
            <li></li>
            <a class="navbar-text" href="/index">返回首页</a>
            <li></li>
            <a class="navbar-text account-item vip" href="/member_center">会员中心</a>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="tab">
        <div class="choice-item" data-id="0" onclick="onTabClick(this)">个人资料</div>
        <div class="choice-item" data-id="1" onclick="onTabClick(this)">历史记录</div>
        <div class="choice-item" data-id="2" onclick="onTabClick(this)">消费记录</div>
        <div class="choice-item" data-id="3" onclick="onTabClick(this)">帮助中心</div>
    </div>

    <div class="tab-item" id="tab-person">
        <!--个人中心-->

        <div class="info-1">
            <div class="title">个人资料</div>
            <div class="pic">
                <img id="userimg1" onclick="clickimg()" src="img/user.png" /><label id="username2">呵呵</label>
                <form><input type="file" accept="image/*" name="file" id="file" onchange="uploadfile()"
                             style="position:absolute;clip:rect(0 0 0 0); "></form>
            </div>
            <div class="other">
                <div>性别：<input id="man" onclick="radioclick(1)" type="radio" name="radio" value="1" />男
                          <input id="women" onclick="radioclick(2)" type="radio" name="radio" value="2" />女
                          <input id="other" onclick="radioclick(3)" type="radio" name="radio" value="3" />其他</div>
                <div>生日：
                    <select id="year">
                        <option value="-1">年</option>
                    </select>
                    <select id="month">
                        <option value="-1">月</option>
                    </select>
                    <script>
                        var sy = document.getElementById("year");
                        var sm = document.getElementById("month");
                        for(var i = 1900; i <= 2018; i++) {
                            var o = document.createElement("option");
                            o.value = i;
                            o.innerText = i + "";
                            sy.appendChild(o);
                        }

                        for(var i = 1; i <= 12; i++) {
                            var o = document.createElement("option");
                            if(i<10){
                                o.value = "0"+i;
                                o.innerText ="0"+ i ;
                            }
                            else{
                                o.value = i;
                                o.innerText = i ;
                            }

                            sm.appendChild(o);
                        }
                    </script>
                </div>
                <div>血型：
                    <select id="blood">
                        <option>A</option>
                        <option>B</option>
                        <option>O</option>
                        <option>其他</option>
                    </select>
                </div>
                <div class="btn" onclick="saveInfo()">保存</div>
            </div>
        </div>

        <div class="info-2">
            <div class="material">
                <div class="item item-title" style="font-weight: bold;;">账号资料</div>
                <div class="line"></div>
                <div class="item"><a href="#">修改密码</a></div>
                <div class="item"><a>手机：未绑定</a></div>
                <div class="item"><a>账号申诉</a></div>
                <div class="item"><a>在线客服</a></div>
                <div class="item"><a>身份认证</a></div>
            </div>
            <div class="security">
                <div class="title-label">安全评分</div>
                <div class="mark-view"><progress max="100" value="70"></progress> <label>70分!</label></div>
                <div class="need-op">
                    <div>您的账号存在安全风险，建议优化以下几项：</div>
                    <div><img src="img/warming.png" /><label>绑定手机号</label>
                        <div class="btn">立即绑定</div>
                    </div>
                    <div><img src="img/warming.png" /><label>绑定密保邮箱</label>
                        <div class="btn">立即绑定</div>
                    </div>
                    <div><img src="img/warming.png" /><label>设置密保问题</label>
                        <div class="btn">立即设置</div>
                    </div>
                </div>
                <div class="history-container">
                    <!--登录历史-->
                    <div><label>登录历史</label></div>
                    <div>以下为您最近2次登录记录，若存在异常情况，请在核实后尽快
                        <a>修改密码</a>
                    </div>

                    <table>
                        <tr>
                            <th>时间</th>
                            <th>IP</th>
                            <th>设备</th>
                            <th>地点</th>
                        </tr>
                        <tr>
                            <td id="t11"></td>
                            <td id="t12"></td>
                            <td id="t13"></td>
                            <td id="t14"></td>
                        </tr>
                        <tr>
                            <td id="t21"></td>
                            <td id="t22"></td>
                            <td id="t23"></td>
                            <td id="t24"></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="tab-item" id="tab-history" style="display: none">
        <object type="text/html" data="/MyShare" width="100%" height="100%" style="margin-top: 20px"></object>
    </div>
    <div class="tab-item" id="tab-cost" style="display: none">
        消费记录
    </div>
    <div class="tab-item" id="tab-help" style="display: none">
        帮助中心
    </div>

    <script src="./javascripts/person_center.js"></script>

</div>
<footer>
    © 2018 Esub - Made with ♥ for the people of the internet.
</footer>
</body>

</html>