<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>无标题文档</title>
    <link href="css/base.css" rel="stylesheet">
    <link href="css/dev.css" rel="stylesheet">
    <link href="css/main1.css" rel="stylesheet">
    <link href="css/popWindow.css" rel="stylesheet">
    <link href="css/nunoUI.css" rel="stylesheet">
    <link href="css/productOrder.css" rel="stylesheet">

</head>


<body class="">


<div class="container">


    <div class="header">
        <div class="maxWidth clearfix">

            <h1 class="logo">
                <a href="/" title="E-sub"><img src="img/logo.png"></a>

            </h1>


        </div>
    </div>

    <div class="singlePage priceHeader maxWidth minHeight clearfix">

        <div class="singlePageContainer priceContainer clearfix">
            <h2>购买E-sub会员</h2>
            <h3>支付宝或微信支付，即时开通。</h3>
            <table class="priceTable" align="center">
                <tr class="priceTitle">
                    <th></th>
                    <td>非会员</td>
                    <td>普通会员</td>
                    <td>超级会员</td>
                </tr>

                <tr>
                    <th nowrap="nowrap">视频批量上传</th>
                    <td>< 5</td>
                    <td>< 10</td>
                    <td>< 15</td>
                </tr>

                <tr>
                    <th>视频、文件自动备份</th>
                    <td>不支持</td>
                    <td>支持</td>
                    <td>支持</td>
                </tr>
                <tr>
                    <th>本地文件夹备份</th>
                    <td>不支持</td>
                    <td>支持</td>
                    <td>支持</td>
                </tr>
                <tr>
                    <th>储存空间</th>
                    <td>无额外空间</td>
                    <td>2T空间</td>
                    <td>5T空间</td>
                </tr>

                <tr>
                    <th>文件下载速度</th>
                    <td>普通下载</td>
                    <td>普通下载</td>
                    <td>极速下载</td>
                </tr>

                <tr>
                    <th>解压</th>
                    <td>不支持</td>
                    <td>解压2G内压缩包</td>
                    <td>解压4G内压缩包</td>
                </tr>



                <tr>
                    <th>大文件上传</th>
                    <td>&lt;4G</td>
                    <td>&lt;10G</td>
                    <td>&lt;20G</td>
                </tr>

                <tr>
                    <th>回收站有效期</th>
                    <td>10天</td>
                    <td>15天</td>
                    <td>30天</td>
                </tr>
                <tr>
                    <th>文件下载数量</th>
                    <td class="">3个/天</td>
                    <td class="green">5个/天</td>
                    <td class="red">不限</td>
                </tr>



                <tr>
                    <th><h3 class="red tar">今日限时特价</h3></th>
                    <td nowrap="nowrap">免费</td><td nowrap="nowrap" class="tac tat">

                        <button class="buyBtn btn" type="button" package="4" title="点击购买">
                            <del>30元</del>
                            19元/1月

                        </button><br />

                        <button class="buyBtn btn" type="button" package="5" title="点击购买">
                            <del>300元</del>
                            149元/1年

                        </button><br />
                    </td><td nowrap="nowrap" class="tac tat">

                        <button class="buyBtn btn" type="button" package="8" title="点击购买">
                            <del>60元</del>
                            29元/1月

                        </button><br />

                        <button class="buyBtn btn" type="button" package="9" title="点击购买">
                            <del>600元</del>
                            249元/1年

                        </button><br />
                    </td>	</tr>


            </table>
        </div>

        <div class="singlePageContainer priceContainer clearfix">
            <div class="planContact">
                <p>详细产品信息，请咨询我们的客服：</p>

                <span class="contactItem"><a href="/bbs#positionCommentForm">客服正在睡觉，请等待下一版本的客服</a> （工作日：9:00-17:00）</span>
            </div>
        </div>
    </div>


    <div class="popWindowBg"></div>
    <div class="popWindow">
        <div class="popWindowBox"></div>
        <div class="popWindowClose"></div>
</body>
</html>
