<!DOCTYPE html>
<html>
<head>
    <title>register</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/register/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/register/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (矩形) -->
    <div id="u47" class="ax_default label">
        <div id="u47_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u48" class="text">
            <p><span>注册账号</span></p>
        </div>
    </div>

    <!-- Unnamed (文本框) -->
    <div id="u49" class="ax_default text_field">
        <input id="u49_input" type="text" placeholder="请设置用户名"/>
    </div>

    <!-- Unnamed (文本框) -->
    <div id="u50" class="ax_default text_field">
        <input id="u50_input" type="text" placeholder="可用于登录和找回密码"/>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u51" class="ax_default label">
        <div id="u51_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u52" class="text">
            <p><span>手机号</span></p>
        </div>
    </div>

    <!-- Unnamed (下拉列表框) -->
    <div id="u53" class="ax_default droplist">
        <select id="u53_input">
            <option selected value="+86  中国大陆">+86&nbsp; 中国大陆</option>
            <option value="+852 中国香港">+852 中国香港</option>
            <option value="+853 中国澳门">+853 中国澳门</option>
            <option value="+886 中国台湾">+886 中国台湾</option>
        </select>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u54" class="ax_default label">
        <div id="u54_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u55" class="text">
            <p><span>用户名</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u56" class="ax_default label">
        <div id="u56_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u57" class="text">
            <p><span>密码</span></p>
        </div>
    </div>

    <!-- Unnamed (文本框) -->
    <div id="u58" class="ax_default text_field">
        <input id="u58_input" type="text" placeholder="请设置登录密码"/>
    </div>

    <!-- Unnamed (文本框) -->
    <div id="u59" class="ax_default text_field">
        <input id="u59_input" type="text" placeholder="请输入验证码"/>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u60" onclick="getCheckCode()" class="ax_default button">
        <div id="u60_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u61" class="text">
            <p><span>获取短信验证码</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u62" class="ax_default label">
        <div id="u62_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u63" class="text">
            <p><span>验证码</span></p>
        </div>
    </div>

    <!-- Unnamed (复选框) -->
    <div id="u64" class="ax_default checkbox">
        <label for="u64_input">
            <!-- Unnamed () -->
            <div id="u65" class="text">
                <p><span style="color:#434343;">阅读并接受</span><span style="color:#0000FF;">《E-sub用户协议》</span><span style="color:#434343;">及</span><span style="color:#0000FF;">《E-sub隐私保护权声明》</span></p>
            </div>
        </label>
        <input id="u64_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u66" class="ax_default _三级标题">
        <div id="u66_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u67" class="text">
            <p><span>我已注册，现在就</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u68" class="ax_default button">
        <div id="u68_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u69" class="text">
            <p><span>登录</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u70" class="ax_default label">
        <div id="u70_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u71" class="text">
            <p><span>E-sub</span></p>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u72" class="ax_default image">
        <img id="u72_img" class="img " src="images/register/u72.png"/>
        <!-- Unnamed () -->
        <div id="u73" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (垂直线) -->
    <div id="u74" class="ax_default line">
        <img id="u74_img" class="img " src="images/register/u74.png"/>
        <!-- Unnamed () -->
        <div id="u75" class="text" style="display:none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u76" onclick="reg()" class="ax_default primary_button">
        <div id="u76_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u77" class="text">
            <p><span>注册</span></p>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">
    var num="";


    function reg() {
        var teleNum = document.getElementById("u50_input").value;
        var reg_account = document.getElementById("u49_input").value;
        var reg_password = document.getElementById("u58_input").value;
        var reg_check = document.getElementById("u59_input").value;
        var info={"teleNum":teleNum,"reg_account":reg_account,"reg_password":reg_password};
        var check = document.getElementById('u64_input');
        console.log(check.checked);
        if(!check.checked){
            alert("请阅读并接受《E-sub用户协议》及《E-sub隐私保护权声明》");
            return;
        }


        if(judgeTel(teleNum).valueOf()){
            if(reg_check.valueOf()==""||reg_check.valueOf()!=num.valueOf()){
                alert("验证码错误！请重新获取");
                document.getElementById("u59_input").value="";
                num="";
            }
            else{
                $.ajax({
                    url:"/register",
                    type:"POST",
                    dataType:"JSON",
                    data:info,
                    success: function(){
                        alert("注册成功！");
                    },

                    statusCode:{
                        404:function(){
                            alert('404，页面不存在');
                        }
                    }
                });

                //window.location.href='http://localhost:3000/login';
            }

        }
    }

    function judgeTel(teleNum) {

        console.log(teleNum);
        if(teleNum.length==11&&teleNum.match("^1[3|4|5|7|8][0-9]\\d{4,8}$"))
        {

            return true;
        }
        else
        {
            alert("手机号错误");
            return false;
        }
    }

    function getCheckCode() {
        num = Math.ceil(Math.random()*899999 + 100000);
        alert("验证码："+num);

    }





</script>

</html>
