<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/search.css" />
    <script src="javascripts/jquery-3.3.1.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/search.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>

</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">E-SUB</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <a class="navbar-text" href="/generate">生成字幕</a>
                <li></li>
                <a class="navbar-text" href="/member_center">历史记录</a>
                <li></li>
                <a class="navbar-text" href="/search">搜索字幕</a>
                <li></li>
                <a class="navbar-text" href="/buy">购买字幕</a>
                <li></li>
                <a class="navbar-text" href="/sale">出售字幕</a>
                <li></li>
                <a class="navbar-text" href="/MyShare">我的分享</a>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <img onclick="transtomember()" id="userimg" class="navbar-text account-item pic" src="img/user.png" />
                <a onclick="transtomember()" id="username" class="navbar-text account-item name">请登陆</a>
                <li></li>
                <a onclick="quitout()" class="navbar-text account-item exit" href="#">退出</a>
                <li></li>
                <a class="navbar-text" href="/index">返回首页</a>
                <li></li>
                <a class="navbar-text account-item vip" href="/vip_center">会员中心</a>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="search-input">
            <input id="search" placeholder="这里输入你要搜索的内容" />
            <div class="btn" onclick="onSearchClick()">搜索</div>
        </div>
        <div class="desc" id="search-desc">搜索结果如下：</div>
        <div class="search-result" id="search-result">
        </div>
    </div>
</body>
</html>