<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Esub - 会员中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/member_center.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-opacity" role="navigation">
    <div class="navbar-header navbar-opacity">
        <a class="navbar-brand" href="/index">E-SUB</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse navbar-opacity" id="example-navbar-collapse">

        <ul class="nav navbar-nav navbar-right">
            <li></li>
            <img id="userimg2" class="navbar-text account-item pic" src="img/user.png" />
            <li></li>
            <a class="navbar-text account-item name" id="username1">请登陆</a>
            <li></li>
            <a class="navbar-text account-item exit" onclick="clearcookie()" href="#">退出</a>
            <li></li>
            <a class="navbar-text" href="/index">返回首页</a>
            <li></li>
            <a class="navbar-text account-item vip" href="/vip_center">会员中心</a>
        </ul>
    </div>
</nav>
<div class="title-bar">
    <div class="main-title">10元开通超级会员，邀您体验更多特权</div>
    <a class="btn" href="/buy">开通超级会员</a>
</div>


<div class="desc-container">
    <div class="left"></div>
    <div class="desc">特权对比</div>
    <div class="right"></div>
</div>

<div class="powers-contrast">
    <table>
        <tr>
            <th>功能特权</th>
            <th>非会员</th>
            <th><span class="normal-vip">普通会员</span></th>
            <th><span class="super-vip">超级会员</span></th>
        </tr>
        <tr class="bg">
            <td>每日上传次数</td>
            <td>=1</td>
            <td>不限量</td>
            <td>不限量</td>
        </tr>
        <tr>
            <td>上传文件大小</td>
            <td>
                <500M</td>
            <td>不限制</td>
            <td>不限制</td>
        </tr>
        <tr class="bg">
            <td>支持语言书</td>
            <td>中文、英文</td>
            <td>谷歌翻译所支持的所有语言</td>
            <td>所有</td>
        </tr>
        <tr>
            <td>每日积分赠送</td>
            <td>无</td>
            <td>10</td>
            <td>20</td>
        </tr>
        <tr class="bg">
            <td>优先处理</td>
            <td>无</td>
            <td>有</td>
            <td>有</td>
        </tr>
    </table>
</div>

<footer>
    © 2018 Esub - Made with ♥ for the people of the internet.
</footer>

</body>

<script>
    var user = {"account": getCookie("user")};

    $.ajax({
        url: "/users/member_center",
        type: "POST",
        dataType: "JSON",
        data: user,
        success: function (data, textStatus) {
            var userInfo = data["success"];
            useraccount = userInfo[0].account;

            var userimage = userInfo[0].image;

            $("#username1").text(useraccount);

            document.getElementById('userimg2').src = "images/head/" + userimage;

        },
        statusCode: {
            404: function () {
                alert('404，页面不存在');
            }
        }
    });


    function clearcookie() {
        setCookie("user",null);
        window.location.href = '/login';
    }

    function setCookie(name, value) {
        /*
        *--------------- setCookie(name,value) -----------------
        * setCookie(name,value)
        * 功能:设置得变量name的值
        * 参数:name,字符串;value,字符串.
        * 实例:setCookie('username','baobao')
        *--------------- setCookie(name,value) -----------------
        */
        var Days = 30; //此 cookie 将被保存 30 天
        var exp = new Date();
        exp.setTime(exp.getTime() + Days * 24 * 60 * 60 * 1000);
        document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
        location.href = "/member_center"; //接收页面.
        location.href = "/index";
        location.href = "/vip_center";
        location.href = "/MyShare";

    }

    function getCookie(name) {
        /*
        *--------------- getCookie(name) -----------------
        * getCookie(name)
        * 功能:取得变量name的值
        * 参数:name,字符串.
        * 实例:alert(getCookie("baobao"));
        *--------------- getCookie(name) -----------------
        */
        var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
        if (arr != null) return unescape(arr[2]);
        return null;
    }
</script>

</html>