body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1099px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:7px;
  width:1210px;
  height:807px;
  overflow:hidden;
}
#u0_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:807px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(107, 107, 107, 1);
  background-image:none;
}
#u0_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:807px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:807px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:396px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:807px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:807px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:807px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:396px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:807px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:807px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:807px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:396px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:807px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:807px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:807px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:396px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:755px;
  width:10px;
  height:10px;
}
#u9_img.selected {
}
#u9.selected {
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:755px;
  width:10px;
  height:10px;
}
#u11_img.selected {
}
#u11.selected {
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:755px;
  width:10px;
  height:10px;
}
#u13_img.selected {
}
#u13.selected {
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:755px;
  width:10px;
  height:10px;
}
#u15_img.selected {
}
#u15.selected {
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:379px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:186px;
  width:325px;
  height:379px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:182px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:224px;
  width:123px;
  height:27px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:311px;
  width:283px;
  height:42px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:42px;
  background-color:#FEFEFE;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:269px;
  width:283px;
  height:42px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:42px;
  background-color:#FEFEFE;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
  text-align:left;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:368px;
  width:100px;
  height:16px;
  font-size:12px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:40px;
  background:inherit;
  background-color:rgba(53, 130, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:407px;
  width:283px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:464px;
  width:71px;
  height:16px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:66px;
  background:inherit;
  background-color:rgba(243, 248, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:499px;
  width:325px;
  height:66px;
  color:#0099FF;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:523px;
  width:71px;
  height:16px;
  color:#0099FF;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:519px;
  width:25px;
  height:26px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:518px;
  width:25px;
  height:26px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:520px;
  width:25px;
  height:26px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
  background:inherit;
  background-color:rgba(243, 248, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(186, 212, 253, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:518px;
  width:79px;
  height:28px;
  color:#0099FF;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:27px;
  width:97px;
  height:28px;
  color:#FFFFFF;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:33px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#FFFFFF;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:27px;
  width:301px;
  height:87px;
  font-size:72px;
  color:#FFFFFF;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
