.account-item {}

.account-item.pic {
	width: 30px;
	height: 30px;
	margin-top: 10px;
}

.account-item.name {
	margin-left: 0;
}

.account-item.exit {}

.account-item.vip {
	background-color: red;
	color: white;
	padding: 0 8px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	border-radius: 5px;
	margin-right: 30px;
}

.container {
	width: calc(100% - 300px);
	max-width: 600px;
	min-width: 300px;
}

.search-input {
	margin-top: 100px;
}

.search-input input {
	width: calc(100% - 125px);
	border-radius: 5px;
	background: white;
	border: 1px solid grey;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
}

.search-input .btn {
	margin-left: 20px;
	width: 100px;
}

.desc {
	margin: 20px 0;
	display: none;
}

.search-result {
	margin-top: 30px;
	padding: 0 30px;
}

.search-result .result-item {
	padding: 10px 0px;
	border-radius: 3px;
	color: rgba(156, 153, 153, 0.87);
}

.line{
	height: 1px;
	background: gainsboro;
	margin: 15px 0;
}

.search-result .result-item .name {
	font-size: 16px;
	color: black;
}

.search-result .result-item .info {
	margin-top: 10px;
	font-size: 12px;
}

.search-result .result-item .info .a {
	margin-left: 10px;
}

.search-result .result-item .info .b {}

.search-result .result-item .info .c {
	float: right;
}

.item-detail {
	display: none;
	max-height: 500px;
	border-radius: 3px;
	padding: 20px 20px;
	overflow-y: auto;
}

.pop_window{
	margin-top: 200px;
    background: white;
    position: absolute;
    width: 500px;
    border-radius: 10px;
    padding: 20px 20px;
    max-height: 500px;
    top: 50px;
    left: calc(50% - 250px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    /* -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none; */
}
.pop_window p{
    margin: 0 0;
    margin-top: 10px;
}

.pop_window .close{
    display: inline-block;
}
.pop_window .close img{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 20px;
    height: 20px;
}