
.nunoRadio{
  color: #fff;
}

.nunoRadio label{

}

.nunoRadio .options,
.nunoRadio .disabledOptions{
  font-size: 18px;
  padding: 6px 10px;
  cursor: pointer;
}


.nunoRadio .options:hover{
  box-shadow: 1px 1px 5px #561506;
  background-color: #d03e1d;
}

.nunoRadio .options:before,
.nunoRadio .options:after {
  content: "";
  display: table;
}
.nunoRadio .options:after {
  clear: both;
  overflow:hidden;
}

.nunoRadio .options i,
.nunoRadio .disabledOptions i{
	float: left;
	width:22px;
	height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
	background-image: url(/themes/default/images/nunoUI/radio.png);
  background-size: cover;
  -ms-behavior: url(/themes/default/images/nunoUI/backgroundsize.min.htc);
  behavior: url(/themes/default/images/nunoUI/backgroundsize.min.htc);
  margin: 2px 4px 0 0;
}

.nunoRadio .checked i{
  background-image: url(/themes/default/images/nunoUI/radioOn.png);
}




.nunoCheckbox{
  color: #fff;
}

.nunoCheckbox label{

}

.nunoCheckbox .options,
.nunoCheckbox .disabledOptions{
  font-size: 18px;
  padding: 6px 10px;
  cursor: pointer;
}

.nunoCheckbox .options:hover{
  box-shadow: 1px 1px 5px #561506;
  background-color: #d03e1d;
}

.nunoCheckbox .options:before,
.nunoCheckbox .options:after {
  content: "";
  display: table;
}
.nunoCheckbox .options:after {
  clear: both;
  overflow:hidden;
}

.nunoCheckbox .options i,
.nunoCheckbox .disabledOptions i{
  float: left;
  width:22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/themes/default/images/nunoUI/checkbox.png);
  background-size: cover;
  -ms-behavior: url(/themes/default/images/nunoUI/backgroundsize.min.htc);
  behavior: url(/themes/default/images/nunoUI/backgroundsize.min.htc);
  margin: 2px 4px 0 0;
}

.nunoCheckbox .checked i{
  background-image: url(/themes/default/images/nunoUI/checkboxOn.png);
}




.nunoSelect{
  color: #fff;
}

.nunoSelect label{
  font-size: 18px;
  padding: 8px 10px;
  cursor: pointer;
  display: block;
}

.nunoSelect label:hover{
  box-shadow: 1px 1px 5px #561506;
  background-color: #d03e1d;
}

.nunoSelect label:before,
.nunoSelect label:after {
  content: "";
  display: table;
}
.nunoSelect label:after {
  clear: both;
  overflow:hidden;
}

.nunoSelect label i{
  float: left;
  width:16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/themes/default/images/nunoUI/select.png);
  background-size: cover;
  -ms-behavior: url(/themes/default/images/nunoUI/backgroundsize.min.htc);
  behavior: url(/themes/default/images/nunoUI/backgroundsize.min.htc);
  margin: 4px 4px 0 4px;
}

.nunoSelect .optionsBox{
  display: none;
}

.nunoSelect .options,
.nunoSelect .disabledOptions{
  font-size: 18px;
  padding: 6px 10px;
  cursor: pointer;
}


.nunoSelect .options:hover{
  box-shadow: 1px 1px 5px #561506;
  background-color: #d03e1d;
}

.nunoSelect .options:before,
.nunoSelect .options:after {
  content: "";
  display: table;
}
.nunoSelect .options:after {
  clear: both;
  overflow:hidden;
}

.nunoSelect .options i,
.nunoSelect .disabledOptions i{
  float: left;
  width:22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -ms-behavior: url(/themes/default/images/nunoUI/backgroundsize.min.htc);
  behavior: url(/themes/default/images/nunoUI/backgroundsize.min.htc);
  margin: 2px 4px 0 0;
}

.nunoSelect .checked i{
  background-image: url(/themes/default/images/nunoUI/radioOn.png);
}/* CSS Document */

